
.overview-scroll {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.overview-scroll::-webkit-scrollbar {
  display: none;
}

.overview-container {
  display: flex;
  margin-bottom: 10px;
}

.seatmap-scroll {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.seatmap-scroll::-webkit-scrollbar {
  display: none;
}

.seatmap-container {
  display: inline-block;
}
