
.overview-scroll {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.overview-scroll::-webkit-scrollbar {
  display: none;
}

.overview-container {
  display: flex;
  margin-bottom: 10px;
}

.overview-wagon-image {
  height: 34px;
}

.overview-wagon-image-colored {
  clip: rect(0px,700px,35px,650px)
}

.wagon {
  display: inline-block;
}

.wagon-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.wagon-heading {
  display: flex;
  height: 40px;
  align-items: center;
}

.wagon-heading h3 {
  font-size: 16px;
  text-align: center;
}

.wagon-class {
  font-size: 16px;
  font-weight: 100;
}

.wagon-icon {
  display: flex;
  align-items: center;
}

.wagon-icon::before {
  content: "";
  background-color: #f4f4ee;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 0 6px;
}

.seatmap-scroll {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.seatmap-scroll::-webkit-scrollbar {
  display: none;
}

.seatmap-container {
  display: inline-block;
}

.seatmap-wagon {
  height: 230px;
  display: inline-block;
  width: 1630px;
  position: relative;
}


.seatmap-seat {
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.seatmap-seat-backwards {
  transform: rotate(180deg);
}

.seatmap-seat-inner {
  position: relative;
}

.seatmap-number {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  width: 46px;
  top: 12px;
  left: 0;
  text-align: center;
}

