
.overview-wagon-background-image {
  position: absolute;
  height: 34px;
}

.overview-wagon-image {
  position: relative;
  height: 34px;
}

.overview-wagon {
  display: inline-block;
}

.overview-wagon-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.overview-wagon-heading {
  display: flex;
  height: 40px;
  align-items: center;
}

.overview-wagon-heading h3 {
  font-size: 16px;
  text-align: center;
}

.overview-wagon-class {
  font-size: 16px;
  font-weight: 100;
}

.overview-wagon-icon {
  display: flex;
  align-items: center;
}

.overview-wagon-icon::before {
  content: "";
  background-color: #f4f4ee;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 0 6px;
}
